<div>
  <div>
      <div class="card-header"><i class="fa fa-git-square"></i>&nbsp;Git list</div>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>{{ 'name' | translate }}</th>
          <th>{{ 'operate' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let con of gitList">
          <td class="cursor">{{con}}</td>
          <td>
            <a href="javascript:" (click)="getAgit($event,con)" class="btn-sm btn-primary">
              {{ 'Download' | translate }}
            </a>
            &nbsp;
            <a href="javascript:" (click)="updateGit(con)" class="btn-sm btn-success">
              {{ 'update' | translate }}
            </a>
            <input type="file" class="file">
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="loader" *ngIf="busy"></div>
</div>
<div *ngIf="showtext" style="position: fixed;background: rgba(65, 63, 63, 0.7);top:50%;left: 50%;
height:40px;width:250px;z-index: 100000000;;transform: translate(-50%,-50%);
line-height: 40px;text-align: center;border-radius: 5px;color:rgba(233, 164, 164, 0.7)">
  {{text}}
</div>
