table{
  width: 100%;
  margin-top: 14px;
}
ul,li{
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

li{
  height: 40px;
  border:1px solid rgb(190, 189, 189);
  border-top: none;
  line-height: 38px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none; 
  -khtml-user-select: none; 
  user-select: none;
  border-right: none;
  width: 36px;
}
li:last-child{
  border-right: 1px solid rgb(190, 189, 189);
}
li:first-child{
  border-radius:4px 0 0 4px;
}
.active{
  background-color: rgb(49, 119, 184);
  color: aliceblue;
}
.list{
  list-style: none;
  padding: 0;
  margin: 0;
  height: 34px;
  background-color: rgb(235, 232, 232);
  width: 100%;
  border-radius: 4px;
}
.list li{
  position: relative;
  width: 140px;
  height: 34px;
  top:-20px;
  line-height: 34px;
  text-align: center;
  color: #000;
  float: left;
  cursor: pointer;
}
.list li.active{
  color: #ccc;
  background-color: #fff;
  border-top: 3px solid rgb(12, 12, 12);
  border-bottom: none;
}
.list li .close{
  position: absolute;
  font-size: 20px;
  top: 7px;
  right: 0px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #000;
}
.role{
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  padding: 0 4px;
  background-color: #409eff;
  cursor: pointer;
  margin-left: 4px;
  vertical-align: middle;
  border-radius: 6px;
  box-sizing: border-box;
}
.arrow-right {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  border-width: 7px;
  vertical-align: middle;
  border-color: rgb(68, 64, 64);
  border-right-width: 0;
  border-style: dashed;
  border-left-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.arrow-bottom {
  cursor: pointer;
  font-size: 0;
  line-height: 0;
  border-width: 7px;
  vertical-align: middle;
  border-color: rgb(68, 64, 64);
  border-bottom-width: 0;
  border-style: dashed;
  border-top-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  }